{% extends "layout.html" %}
{% block content %}
<div class="page-header">
		<h1>Bulk add steps for {{story_id}}</h1>
</div>
<FORM ACTion="{{url_for('.add_bulk_steps', story_id = story_id)}}" method="post">
	{{form.csrf_token()}}	 
	<div class="form-group">
		{{form.steps.label}}<br />
		{{form.steps(class="form_control",cols=70, rows=10)}}
		<span id="stepsHelp" class="help-block">
			The format of the line is <em>step name: content</em>
		</span>
	</div>
	<div>
		<button class="btn btn-primary">Bulk add</button>
	</div>
</form>
{% endblock %}
