{% extends "layout.html" %}
{% block content %}
		<h1>{{story.name}} (by {{story.user.username}}) @ {{story.timestamp}}</h1>
		<div>
			Steps:
			<table>
				<tr>
					<th>Name</th>
					<th>Choice 1 Text</th>
					<th>Choice 1 Step</th>
					<th>Choice 2 Text</th>
					<th>Choice 2 Step</th>
					<th>Final</th>
					<th>Actions</th>
				</tr>
			{% for step in story.steps %}
				<tr>
					<td><a href="{{url_for('show_step', step_id = step.id)}}">{{step.name}}</a></td>
					<td>{{step.first_choice}}</td>
					<td>{{step.first_choice_step_id}}</td>
					<td>{{step.second_choice}}</td>
					<td>{{step.second_choice_step_id}}</td>
					<td>{{step.final}}</td>
					<td>
						<a href="{{url_for('edit_step', step_id = step.id)}}">Edit</a>|
						<a href="{{url_for('delete_step', step_id = step.id)}}">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</table>
			<a href="{{url_for('new_step', story_id = story.id)}}">New step</a>
		</div>
		<div>
			Initial step: 
			{% if initial_step.name %}
			<a href="{{url_for('show_step', step_id = initial_step.id)}}">{{initial_step.name}}</a>
			{% else %}
			<a href="{{url_for('new_initial_step', story_id = story.id)}}">Create initial step</a>
			{% endif %}
		</div>
		<div>
			<a href="{{url_for('start_story', story_id = story.id)}}">Start the story</a>
		</div>
		<div>
			{% set instances = story.instances.all() %}
			<h1>Instances ({{instances|length}})</h1>
			<ul>
			{% for instance in instances %}
			<li>
				<a href="{{url_for('show_instance', instance_id = instance.id)}}">{{instance.user.username}} @ {{instance.started}}</a>
			</li>
			{% endfor %}
			</ul>
		</div>
{% endblock %}
