<html>
	<body>
		<h1>{{story.name}} (by {{story.user.username}}) @ {{story.timestamp}}</h1>
		<div>
			Steps:
			<ul>
			{% for step in story.steps %}
				<li>
					<a href="{{url_for('show_step', step_id = step.id)}}">{{step.name}}</a>
				</li>
			{% endfor %}
			</ul>
			<a href="{{url_for('new_step', story_id = story.id)}}">New step</a>
		</div>
		<div>
			Initial step: 
			{% if initial_step.name %}
			<a href="{{url_for('show_step', step_id = initial_step.id)}}">{{initial_step.name}}</a>
			{% else %}
			<a href="{{url_for('new_initial_step', story_id = story.id)}}">Create initial step</a>
			{% endif %}
		</div>
	</body>
</html>
