{% extends "layout.html" %}
{% block content %}
<div id="login" class="panel panel-default">
	<div class="panel-heading">Login</div>
	<div class="panel-body">
		<form action="{{url_for('auth.login')}}" method="post">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.username(class="form-control",placeholder="Username") }}
			</div>
			<div class="form-group">
				{{ form.password(class="form-control",placeholder="Password") }}
			</div>
			<div>
				{{ form.remember_me.label }}
				{{ form.remember_me(class="form-control") }}
			</div>
			<button class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
{% endblock %}
