<html>
	<body>
		<h1>Step {{step.name}} in {{story.name}}</h1>
		<div>
			{{step.content}}
		</div>
		{% if not step.final %}
		<span>
			First choice:
			{% if step.first_choice %}
				{% if step.first_choice_step_id %}
			<a href="{{url_for('show_step', step_id = step.first_choice_step_id)}}">{{step.first_choice}}</a>
				{% else %}
				{{step.first_choice}}
				{% endif %}
			{% else %}
			None
			{% endif %}
		</span>
		<span>
			Second choice:
			{% if step.second_choice %}
				{% if step.second_choice_step_id %}
			<a href="{{url_for('show_step', step_id = step.second_choice_step_id)}}">{{step.second_choice}}</a>
				{% else %}
				{{step.second_choice}}
				{% endif %}
			{% else %}
			None
			{% endif %}
		</span>
		<br />
		{% endif %}
		<a href="{{url_for('show_story', story_id = step.story_id)}}">Back to story</a>
	</body>
</html>
