.content, .messages {
	margin: 5px;
}

#login {
	width: 20%;
	margin: auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.step-play {
	width: 50%;
	margin: auto;
}

.choice {
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#eee;
	background-color:rgba(86,61,124,.15);
	border:1px solid #ddd;
	border:1px solid rgba(86,61,124,.2)
}
