{% macro display_nav_link(target, label, icon=None) %}
{% if request.url_rule.endpoint == target %}
<li class="active">
	<a href="{{url_for(target, **kwargs)}}">
		{% if icon %}{{display_icon(icon)}}{% endif %}
		{{label}} <span class="sr-only">(current)</span>
	</a>
</li>
{% else %}
<li>
	<a href="{{url_for(target, **kwargs)}}">
		{% if icon %}{{display_icon(icon)}}{% endif %}
		{{label}}
	</a>
</li>
{% endif %}
{% endmacro %}
{% macro display_icon(name) %}
<span class="glyphicon glyphicon-{{name}}" aria-hidden="true"></span>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Game</title>

		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='css/story_hero.css')}}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{url_for('.index')}}">Story Hero</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{{display_nav_link('.stories', 'Stories', 'book')}}
						{% if current_user.can(Permission.CREATE_STORY) %}
						{{display_nav_link('.new_story', 'Create story', 'pencil')}}
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if current_user.is_authenticated %}
						{% if current_user.is_administrator() %}
						{{display_nav_link('.list_users', 'Users', 'list')}}
						{% endif %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{% if current_user.is_administrator() %}{{display_icon('flash')}}{% endif %}
								{{display_icon('user')}} {{session['username']}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{{display_nav_link('.show_user', 'My profile', user_id = session['user_id'])}}
								{{display_nav_link('.instances', 'Instances')}}
								<li role="separator" class="divider"></li>
								{{display_nav_link('auth.logout', 'Logout', 'log-out')}}
							</ul>
						</li>
						{% else %}
						{{display_nav_link('auth.register', 'Register')}}
						{{display_nav_link('auth.login', 'Login', 'log-in')}}
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		{% if get_flashed_messages() %}
		<div class="messages">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			{% if category == "info" %}
			{% set alert_class = "info" %}
			{% elif category == "warning" %}
			{% set alert_class = "warning" %}
			{% elif category == "error" %}
			{% set alert_class = "danger" %}
			{% else %}
			{% set alert_class = "success" %}
			{% endif %}
			<div class="alert alert-{{alert_class}} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-close="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{message|safe}}
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	</body>
</html>
