{% extends "layout.html" %}
{% block content %}
		<div>
			<table class="table">
				<tr>
					<th>User</th>
					<th>Email</th>
					<th>Role</th>
					<th>Stories</th>
					<th>Actions</th>
				</tr>
				{% for user in users %}
					<tr>
						<td><a href="{{url_for('users.show', user_id = user.id)}}">{{user.username}}</a></td>
						<td>{{user.email}}</td>
						<td>{{user.role.name}}</td>
						<td><a href="{{url_for('stories.show', user_id = user.id)}}">{{user.stories|length}}</a></td>
						<td>
							<a href="{{url_for('users.edit', user_id = user.id)}}">Edit user {{display_icon('edit')}}</a><br />
							<a href="{{url_for('users.delete', user_id = user.id)}}">Delete user {{display_icon('remove')}}</a>
							{% if current_app.debug and current_user.is_administrator() %}
							<br /><a href="{{url_for('auth.login_username', user=user.username)}}">Login as {{user.username}} {{display_icon('log-in')}}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<a href="{{url_for('users.add')}}">Add user</a>
{% endblock %}
